<div class="jumbotron text-center blue lighten-5">
  <h2 class="h1 h1-responsive">Welcome to the Sentinel Engineering Toolkit</h2>
  <p class="lead">Tools, utilities, and information to make a Sentinel Engineers life eaiser</p>
</div>

<!-- First Row -->
<div class="row container-fluid">
  <!-- Create Questionaire -->
  <div class="col-md-3 card-group">
    <div class="card">
      <h3 class="card-header blue white-text">Questionnaire</h3>
      <div class="card-body blue lighten-5">
        <!-- <h4 class="card-title">Create project questionaire</h4> -->
        <p class="card-text">Create a new project questionnaire for a blueprint</p>
        <a class="btn btn-success waves-light" routerLink="/questionnaire">Questionnaire</a>
      </div>
    </div>
  </div>
  <!-- End of Create Questionaire -->

  <!-- Create Blueprint Panel -->
  <div class="col-md-3 card-group">
    <div class="card">
      <h3 class="card-header blue white-text">Blueprints</h3>
      <div class="card-body blue lighten-5">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <p class="card-text">Create a new blueprint for a project or ticket</p>
        <a class="btn btn-success waves-light" routerLink="/blueprint">Blueprints</a>
      </div>
    </div>
  </div>
  <!-- End of Create Blueprint Panel -->

  <!-- Download NetDoc / NetDoc Repository -->
  <div class="col-md-3 card-group">
    <div class="card">
      <h3 class="card-header blue white-text">NetDoc</h3>
      <div class="card-body blue lighten-5">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <p class="card-text">Download NetDoc tool, upload scans, download previous scans</p>
        <a class="btn btn-success waves-light" routerLink="/netdoc">NetDoc</a>
      </div>
    </div>
  </div>
  <!-- End of Download NetDoc / NetDoc Repository -->

  <!-- Vaildated Designs -->
  <div class="col-md-3 card-group">
    <div class="card">
      <h3 class="card-header blue white-text">Vaildated Designs</h3>
      <div class="card-body blue lighten-5">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <p class="card-text">Sentinel designs and best practices</p>
        <a class="btn btn-success waves-light" routerLink="/design">SVDs</a>
      </div>
    </div>
  </div>
  <!-- End of Vaildated Designs -->

  <!-- End of first row -->

  <!-- Second Row -->
  <div class="row row-buffer container-fluid"></div>
  <!-- End of Second Row -->