<div class="jumbotron text-center green lighten-5">
  <h2 class="h1 h1-responsive">Design Questionnaire</h2>
  <p class="lead">Information and items to gather during project design and infomration gathering</p>
</div>

<div class="container-fluid">
  <strong>Organization Information</strong>
  <ul>
    <li>Remote Access VPN Information</li>
    <li>Internal Domain Name</li>
    <li>Internal DNS Servers</li>
    <li>Internal Domain Controllers</li>
    <li>Internal syslog servers</li>
    <li>Internal NTP servers</li>
    <li>Community strings / SNMPv3 information</li>
    <li>Internal networking monitoring servers (snmp)</li>
    <li>Netflow collectors</li>
    <li>Centralized DHCP Servers</li>
    <li>SFTP server for backups</li>
    <li>AAA servers</li>
  </ul>
  <!-- <strong>Route/Switch Deployments</strong>
<ul *ngFor="let i of bpItems">
  <li *ngIf="i.category === 'ciscoSwitch'"><input type="checkbox" (click)="i.showSuggested = true">{{ i.title }}</li>
</ul>

<ul *ngFor="let i of bpItems">
  <li *ngIf="i.showSuggested === true">{{ i.title }}</li>
</ul> -->
</div>
<!-- (click)="i.showSuggested = true" -->