<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light navbar-dark scrolling-navbar ie-nav blue darken-4" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand white-text" routerLink="/">
      <strong>Blueprinter</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home
        </a>
      </li>
      <li class="nav-item waves-light">
        <a class="nav-link" routerLinkActive="active" routerLink="/blueprint">Blueprints</a>
      </li>
      <li class="nav-item waves-light">
        <a class="nav-link" routerLinkActive="active" routerLink="/design">Designs</a>
      </li>
      <li class="nav-item waves-light">
        <a class="nav-link disabled" routerLinkActive="active" routerLink="/editor">Editor</a>
      </li>
    </ul>
  </links>
</mdb-navbar>