/* You can add global styles to this file, and also import other style files */
.added {
    background-color: #4285F4;
    color: white;
    font-weight: bold
}

.myLists {
    margin: 0;
    color: green;
    font-weight: italic;
}

.top-buffer { margin-top:60px; }

.bottom-buffer { margin-bottom:30px; }

.row-buffer { margin-top:15px; }